version: "3.9"

services:
  # 1. Backend Servisi (FastAPI)
  app:
    build: .
    container_name: makale_api
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - ./app:/code/app
    # 'depends_on: db' kaldırıldı.
    # Ana makineye (host.docker.internal) erişim için eklendi:
    extra_hosts:
      - "host.docker.internal:host-gateway"

  # 2. Frontend Servisi (Nginx)
  frontend:
    image: nginx:alpine
    container_name: frontend_web
    ports:
      - "80:80"  # Tarayıcıda http://localhost ile erişim
    volumes:
      - ./Frontend:/usr/share/nginx/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

# 'postgres_data' volume tanımı kaldırıldı.
volumes: {}